<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315956756792-5c1ufvc5vpb6kif0svnlkniqh9macbrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315956756792-5c1ufvc5vpb6kif0svnlkniqh9macbrl</string>
	<key>API_KEY</key>
	<string>AIzaSyBga-_R7uen97_UCNTAaDsXITi14sv72xE</string>
	<key>GCM_SENDER_ID</key>
	<string>315956756792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trust.enrollment.ios</string>
	<key>PROJECT_ID</key>
	<string>enrollment-60975</string>
	<key>STORAGE_BUCKET</key>
	<string>enrollment-60975.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315956756792:ios:9ba018d6ed8018ed4b81cd</string>
	<key>DATABASE_URL</key>
	<string>https://enrollment-60975.firebaseio.com</string>
</dict>
</plist>